<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KwizyVert</title>

  <!-- Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/iconoir@latest/css/iconoir.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

  <!-- CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <!-- Navbar -->
    <header>
        <i class="fa-solid fa-bars" id="navbar" onclick="showNav()"></i>
        <div class="Logo">
            <span class="k">K</span>
            <span id="Logo">KWYZE</span>
        </div>
    </header>
    <div class="nav" id="nav">
            <i id="close" class="fa-solid fa-xmark" onclick="closeNav()"></i>
        <div class="logo">
            <span class="k">K</span>
            <span id="logo">KWYZE</span>
        </div>
        <div class="login">
            <span id="signup">Signup</span>
            <span id="login">Login</span>
        </div>
        <div class="labels">
            <span class="label selected" onclick="Main()">Main</span>
            <span class="label" id="flashcards" onclick="Flashcards()">Flashcards</span>
            <span class="label" id="summaries" onclick="PDFs_Summaries()">PDF's Summaries</span>
            <span class="label" onclick="References()">Resources</span>
            <span class="label" onclick="Archieve()">Archieve</span>
        </div>
    </div>
    <div class="body" id="container">

    </div>


  <!-- JS file -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
